.hidden {
  display: none; }

article {
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 10px; }
  article img {
    width: 100%;
    text-align: center; }
  article h3 {
    text-align: center;
    margin-top: 10px; }

.container {
  width: 60%; }

.showForm {
  width: 100%; }

header {
  text-align: center;
  background: radial-gradient(yellow, gold);
  margin-bottom: 10px; }
  header h1 {
    margin-top: 0;
    margin-bottom: 0; }

.deleteMovie {
  background-color: red;
  color: white;
  width: 100%;
  border: none; }

.editMovie {
  background-color: blue;
  color: white;
  width: 100%;
  border: none; }

.sortDate, .sortRating, .sortTitle {
  width: 100%; }

.newMovButton {
  background: radial-gradient(white, #969595); }

.noRight, .noEither {
  padding-right: 0; }

.noLeft, .noEither {
  padding-left: 0; }

.noMarg {
  margin-left: 0;
  margin-right: 0; }
